.action-btn {
  background: none;
  border: 0;
  color: rgba(255, 255, 255, 0.829);
  font-size: 20px;
  cursor: pointer;
  padding: 13px;
}
/*13:30*/
.action-btn-big {
  font-size: 25px;
}
.action-btn:focus {
  outline: 0;
}
.bgsound__musicTitle {
  position: relative;
}
.music-info__progress-container {
  position: absolute;
}
.music-info {
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 0 0 7px 7px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: -100%;
  width: 201px;
  height: 50px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.music-info h4 {
  margin: 0;
  position: absolute;
  display: flex;
  justify-self: center;
  top: 5px;
  left: 10px;
  color: #838383;
  font-size: 8px;
}
.bgsound__musicTitle.play .music-info {
  opacity: 1;
  transform: translateY(100%);
}
.music-info__progress-container {
  background: white;
  position: absolute;
  bottom: 3px;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 80%;
  caret-color: transparent;
}
.progress-container__progress {
  background-color: lightpink;
  border-radius: 15px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
  caret-color: transparent;
}
