.todo-form-box {
  position: fixed;
  position: relative;
  top: 10px;
  left: 10px;
  width: 250px;
  height: 375px;
  border: 2px solid #ffffff8f;
  border-radius: 10px;
}
.todo-form-box__header {
  width: 251px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-form-box__header > p {
  font-family: "Cookie", cursive;
  font-size: 28px;
  color: #838383;
}
#todo-form {
  position: relative;
}
#todo-form input {
  position: absolute;
  display: block;
  width: 230px;
  margin: 10px 8px;
  padding: 5px;
  background: transparent;
  font-family: "Cookie", cursive;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  padding: 15px, none;
}
#todo-form input::placeholder {
  color: white;
}
.todo-form-box > ul {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 90%;
  height: 207px;
  font-family: "Cookie", cursive;
}
.todo-form-input {
  color: white;
}
li > span {
  color: white;
  font-size: 25px;
}
li > button {
  width: 30px;
  height: 25px;
  background-color: none;
  color: white;
  background: none;
  border: none;
  margin-right: 5px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 10px;
}
